@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root{
    --font-body: 'Poppins', sans-serif;
    --primary-color: #1B452F;
    --secondary-color: #5FAA46;
    --dark-color: #24272E;
    --white-color: #ffffff;
    --gray-color: #858383;
    --font-kaushan: 'Kaushan Script', cursive;
}

body{
  font-family: var(--font-body);
  background-color: white;
  scroll-behavior: smooth;
}